.form-registration {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	input {
		width: 100%;
		margin: 0px 0 10px;
	}
	.btn {
		flex: 1 0 100%;
	}
}
.my-errors {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	color: #333;
	font-size: 1.2rem;
	display: table;
	li {
		margin: 0 0 1rem;
		&:before {
			content: "! Error : ";
			color: #f00;
			font-weight: bold;
		}
	}
}
